<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="xczs_gripper" params="">
    <link name="worklink1">
      <inertial>
        <origin xyz="-0.026954 -0.00060856 0.00020469" rpy="0 0 0" />
        <mass value="0.15355" />
        <inertia
          ixx="6.267E-05"
          ixy="-1.1937E-06"
          ixz="3.0638E-09"
          iyy="8.5862E-05"
          iyz="-7.3249E-10"
          izz="3.7389E-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/worklink1.STL" />
        </geometry>
        <material name="graphite_black" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/worklink1.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="end_worklink1" type="revolute">
      <origin xyz="0 -0.021 -0.2695" rpy="3.1416 -1.5708 0" />
      <parent link="end" />
      <child link="worklink1" />
      <axis xyz="0 0 -1" />
      <limit
        lower="0.0"
        upper="0.35"
        effort="100"
        velocity="0.5" />
      <dynamics damping="5.0" friction="30.0" />
      <safety_controller
        soft_upper="0.35"
        soft_lower="0.0"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="worklink2">
      <inertial>
        <origin xyz="-0.026954 0.00060856 2.3242E-06" rpy="0 0 0" />
        <mass value="0.15355" />
        <inertia
          ixx="6.267E-05"
          ixy="1.1937E-06"
          ixz="-3.2813E-09"
          iyy="8.5862E-05"
          iyz="5.5779E-10"
          izz="3.7389E-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/worklink2.STL" />
        </geometry>
        <material name="graphite_black" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/worklink2.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="end_worklink2" type="revolute">
      <origin xyz="0 0.021 -0.2695" rpy="3.1416 -1.5708 0" />
      <parent link="end" />
      <child link="worklink2" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-0.35"
        upper="0.0"
        effort="100"
        velocity="0.5" />
      <dynamics damping="5.0" friction="30.0" />
      <safety_controller
        soft_upper="0.0"
        soft_lower="-0.35"
        k_position="1"
        k_velocity="1" />
    </joint>

    <!--
      A slim probe between the fingers provides a deterministic tool center
      point for cabinet-button contact. Its frame is at the distal tip.
    -->
    <link name="button_press_tip">
      <inertial>
        <origin xyz="0 0 0.05" rpy="0 0 0" />
        <mass value="0.02" />
        <inertia
          ixx="1.7e-05"
          ixy="0"
          ixz="0"
          iyy="1.7e-05"
          iyz="0"
          izz="1.0e-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0.05" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.010" length="0.100" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0.05" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.010" length="0.100" />
        </geometry>
      </collision>
    </link>
    <joint name="end_button_press_tip" type="fixed">
      <origin xyz="0 0 -0.370" rpy="0 0 0" />
      <parent link="end" />
      <child link="button_press_tip" />
    </joint>
    <gazebo reference="end_button_press_tip">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    <gazebo reference="button_press_tip">
      <material>Gazebo/Orange</material>
      <gravity>false</gravity>
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
    </gazebo>
  </xacro:macro>
</robot>
