<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="xczs_manipulator" params="">
    <link name="arm1">
      <inertial>
        <origin xyz="-0.0033217 -9.9561E-07 0.078337" rpy="0 0 0" />
        <mass value="1.9281" />
        <inertia
          ixx="0.0054894"
          ixy="6.3361E-09"
          ixz="-1.9333E-06"
          iyy="0.0056434"
          iyz="2.7078E-09"
          izz="0.0038887" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm1.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm1.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="body_arm1" type="revolute">
      <origin xyz="0 0 0.1713" rpy="0 0 0" />
      <parent link="body" />
      <child link="arm1" />
      <axis xyz="0 0 1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="10.0" friction="80.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="arm2">
      <inertial>
        <origin xyz="1.0479E-06 0.215 -0.078844" rpy="0 0 0" />
        <mass value="5.8403" />
        <inertia
          ixx="0.030588"
          ixy="1.376E-08"
          ixz="-4.7704E-08"
          iyy="0.013217"
          iyz="3.2272E-08"
          izz="0.02708" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm2.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm2.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm1_arm2" type="revolute">
      <origin xyz="-0.0643 0 0.07985" rpy="0 1.5708 0" />
      <parent link="arm1" />
      <child link="arm2" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="arm3">
      <inertial>
        <origin
          xyz="1.56749461355243E-06 0.189710014053946 0.0530473833928146"
          rpy="0 0 0" />
        <mass value="2.31238613838775" />
        <inertia
          ixx="0.0216822998250983"
          ixy="1.23615425716532E-07"
          ixz="7.23499498048424E-09"
          iyy="0.00256250351374084"
          iyz="-0.00215384222856607"
          izz="0.0212162219120044" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm3.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm3.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm2_arm3" type="revolute">
      <origin xyz="0 0.43 0.0003" rpy="0 0 0" />
      <parent link="arm2" />
      <child link="arm3" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="arm4">
      <inertial>
        <origin xyz="1.7543E-07 0.0059508 -0.042821" rpy="0 0 0" />
        <mass value="0.70551" />
        <inertia
          ixx="0.00090238"
          ixy="5.5563E-10"
          ixz="-1.0558E-08"
          iyy="0.00065754"
          iyz="5.0673E-05"
          izz="0.00087174" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm4.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm4.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm3_arm4" type="revolute">
      <origin xyz="0 0.3685 -0.0045" rpy="0 0 0" />
      <parent link="arm3" />
      <child link="arm4" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="arm5">
      <inertial>
        <origin xyz="-0.013315 4.4618E-06 0.043582" rpy="0 0 0" />
        <mass value="0.98742" />
        <inertia
          ixx="0.00088853"
          ixy="2.1986E-07"
          ixz="-5.4707E-06"
          iyy="0.0017379"
          iyz="3.9411E-07"
          izz="0.0016997" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm5.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm5.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm4_arm5" type="revolute">
      <origin xyz="0 0.068 -0.0455" rpy="1.5708 -1.5708 0" />
      <parent link="arm4" />
      <child link="arm5" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="end">
      <inertial>
        <origin xyz="-0.074067 -0.00010354 -0.19235" rpy="0 0 0" />
        <mass value="2.6368" />
        <inertia
          ixx="0.0040243"
          ixy="-7.421E-06"
          ixz="0.00031663"
          iyy="0.0087932"
          iyz="-1.9349E-06"
          izz="0.010837" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/end.STL" />
        </geometry>
        <material name="graphite_black" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/end.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm5_end" type="revolute">
      <origin xyz="0.049 0 0.0455" rpy="1.5708 0 1.5708" />
      <parent link="arm5" />
      <child link="end" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>
  </xacro:macro>
</robot>
