<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="xczs_manipulator" params="">
    <!--
      The exported six-axis arm is mounted too low to reach the upper cabinet
      modules.  A fixed twin-rail mast and simulated vertical carriage keep the
      original zero pose and give MoveIt one physical prismatic degree of
      freedom for full-height cabinet coverage.
    -->
    <link name="arm_lift_mast">
      <inertial>
        <origin xyz="0 -0.30 ${arm_lift_mast_center_z}" rpy="0 0 0" />
        <mass value="12.0" />
        <inertia
          ixx="1.32" ixy="0" ixz="0"
          iyy="1.36" iyz="0" izz="0.08" />
      </inertial>
      <!-- Keep these visuals unnamed. Gazebo Classic only applies the
           link-level material to every visual when custom names are absent. -->
      <visual>
        <origin xyz="0 -0.34 ${arm_lift_mast_center_z}" rpy="0 0 0" />
        <geometry>
          <box size="0.20 0.04 ${arm_lift_mast_height}" />
        </geometry>
        <material name="guide_steel" />
      </visual>
      <visual>
        <origin xyz="-0.075 -0.29 ${arm_lift_mast_center_z}" rpy="0 0 0" />
        <geometry>
          <box size="0.035 0.06 ${arm_lift_mast_height}" />
        </geometry>
        <material name="guide_steel" />
      </visual>
      <visual>
        <origin xyz="0.075 -0.29 ${arm_lift_mast_center_z}" rpy="0 0 0" />
        <geometry>
          <box size="0.035 0.06 ${arm_lift_mast_height}" />
        </geometry>
        <material name="guide_steel" />
      </visual>
      <visual>
        <origin xyz="0 -0.18 -0.04" rpy="0 0 0" />
        <geometry>
          <box size="0.24 0.40 0.08" />
        </geometry>
        <material name="guide_steel" />
      </visual>
      <visual>
        <origin
          xyz="0 -0.315 ${arm_lift_mast_height - 0.015}"
          rpy="0 0 0" />
        <geometry>
          <box size="0.20 0.11 0.03" />
        </geometry>
        <material name="guide_steel" />
      </visual>
      <collision name="lift_mast_backplate_collision">
        <origin xyz="0 -0.34 ${arm_lift_mast_center_z}" rpy="0 0 0" />
        <geometry>
          <box size="0.20 0.04 ${arm_lift_mast_height}" />
        </geometry>
      </collision>
      <collision name="lift_mast_left_rail_collision">
        <origin xyz="-0.075 -0.29 ${arm_lift_mast_center_z}" rpy="0 0 0" />
        <geometry>
          <box size="0.035 0.06 ${arm_lift_mast_height}" />
        </geometry>
      </collision>
      <collision name="lift_mast_right_rail_collision">
        <origin xyz="0.075 -0.29 ${arm_lift_mast_center_z}" rpy="0 0 0" />
        <geometry>
          <box size="0.035 0.06 ${arm_lift_mast_height}" />
        </geometry>
      </collision>
      <collision name="lift_mast_base_collision">
        <origin xyz="0 -0.18 -0.04" rpy="0 0 0" />
        <geometry>
          <box size="0.24 0.40 0.08" />
        </geometry>
      </collision>
      <collision name="lift_mast_top_collision">
        <origin
          xyz="0 -0.315 ${arm_lift_mast_height - 0.015}"
          rpy="0 0 0" />
        <geometry>
          <box size="0.20 0.11 0.03" />
        </geometry>
      </collision>
    </link>
    <joint name="body_arm_lift_mast" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="body" />
      <child link="arm_lift_mast" />
    </joint>

    <link name="arm_lift">
      <inertial>
        <origin xyz="0 0 0.10" rpy="0 0 0" />
        <mass value="4.0" />
        <inertia
          ixx="0.015" ixy="0" ixz="0"
          iyy="0.015" iyz="0" izz="0.010" />
      </inertial>
      <!-- See the mast note above about unnamed Gazebo visuals. -->
      <visual>
        <origin xyz="0 0 0.10" rpy="0 0 0" />
        <geometry><box size="0.14 0.14 0.20" /></geometry>
        <material name="graphite_black" />
      </visual>
      <visual>
        <origin xyz="0 0 0.10" rpy="0 0 0" />
        <geometry><box size="0.15 0.15 0.05" /></geometry>
        <material name="safety_orange" />
      </visual>
      <visual>
        <origin xyz="0 -0.16 0.10" rpy="0 0 0" />
        <geometry><box size="0.14 0.20 0.08" /></geometry>
        <material name="safety_orange" />
      </visual>
      <collision name="lift_carriage_collision">
        <origin xyz="0 0 0.10" rpy="0 0 0" />
        <geometry><box size="0.14 0.14 0.20" /></geometry>
      </collision>
      <collision name="lift_carriage_bracket_collision">
        <origin xyz="0 -0.16 0.10" rpy="0 0 0" />
        <geometry><box size="0.14 0.20 0.08" /></geometry>
      </collision>
    </link>
    <joint name="body_arm_lift" type="prismatic">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="body" />
      <child link="arm_lift" />
      <axis xyz="0 0 1" />
      <limit
        lower="0.0"
        upper="${arm_lift_travel}"
        effort="${arm_lift_effort}"
        velocity="${arm_lift_velocity}" />
      <dynamics damping="20.0" friction="50.0" />
      <safety_controller
        soft_upper="${arm_lift_travel}"
        soft_lower="0.0"
        k_position="50"
        k_velocity="10" />
    </joint>

    <link name="arm1">
      <inertial>
        <origin xyz="-0.0033217 -9.9561E-07 0.078337" rpy="0 0 0" />
        <mass value="1.9281" />
        <inertia
          ixx="0.0054894"
          ixy="6.3361E-09"
          ixz="-1.9333E-06"
          iyy="0.0056434"
          iyz="2.7078E-09"
          izz="0.0038887" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm1.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm1.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="body_arm1" type="revolute">
      <origin xyz="0 0 0.1713" rpy="0 0 0" />
      <parent link="arm_lift" />
      <child link="arm1" />
      <axis xyz="0 0 1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="10.0" friction="80.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="arm2">
      <inertial>
        <origin xyz="1.0479E-06 0.215 -0.078844" rpy="0 0 0" />
        <mass value="5.8403" />
        <inertia
          ixx="0.030588"
          ixy="1.376E-08"
          ixz="-4.7704E-08"
          iyy="0.013217"
          iyz="3.2272E-08"
          izz="0.02708" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm2.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm2.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm1_arm2" type="revolute">
      <origin xyz="-0.0643 0 0.07985" rpy="0 1.5708 0" />
      <parent link="arm1" />
      <child link="arm2" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="arm3">
      <inertial>
        <origin
          xyz="1.56749461355243E-06 0.189710014053946 0.0530473833928146"
          rpy="0 0 0" />
        <mass value="2.31238613838775" />
        <inertia
          ixx="0.0216822998250983"
          ixy="1.23615425716532E-07"
          ixz="7.23499498048424E-09"
          iyy="0.00256250351374084"
          iyz="-0.00215384222856607"
          izz="0.0212162219120044" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm3.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm3.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm2_arm3" type="revolute">
      <origin xyz="0 0.43 0.0003" rpy="0 0 0" />
      <parent link="arm2" />
      <child link="arm3" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="arm4">
      <inertial>
        <origin xyz="1.7543E-07 0.0059508 -0.042821" rpy="0 0 0" />
        <mass value="0.70551" />
        <inertia
          ixx="0.00090238"
          ixy="5.5563E-10"
          ixz="-1.0558E-08"
          iyy="0.00065754"
          iyz="5.0673E-05"
          izz="0.00087174" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm4.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm4.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm3_arm4" type="revolute">
      <origin xyz="0 0.3685 -0.0045" rpy="0 0 0" />
      <parent link="arm3" />
      <child link="arm4" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="arm5">
      <inertial>
        <origin xyz="-0.013315 4.4618E-06 0.043582" rpy="0 0 0" />
        <mass value="0.98742" />
        <inertia
          ixx="0.00088853"
          ixy="2.1986E-07"
          ixz="-5.4707E-06"
          iyy="0.0017379"
          iyz="3.9411E-07"
          izz="0.0016997" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/arm5.STL" />
        </geometry>
        <material name="safety_orange" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/arm5.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm4_arm5" type="revolute">
      <origin xyz="0 0.068 -0.0455" rpy="1.5708 -1.5708 0" />
      <parent link="arm4" />
      <child link="arm5" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>

    <link name="end">
      <inertial>
        <origin xyz="-0.074067 -0.00010354 -0.19235" rpy="0 0 0" />
        <mass value="2.6368" />
        <inertia
          ixx="0.0040243"
          ixy="-7.421E-06"
          ixz="0.00031663"
          iyy="0.0087932"
          iyz="-1.9349E-06"
          izz="0.010837" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/end.STL" />
        </geometry>
        <material name="graphite_black" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://xczs_inspection_robot_description/meshes/collision/end.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="arm5_end" type="revolute">
      <origin xyz="0.049 0 0.0455" rpy="1.5708 0 1.5708" />
      <parent link="arm5" />
      <child link="end" />
      <axis xyz="0 0 -1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="100"
        velocity="10" />
      <dynamics damping="20.0" friction="100.0" />
      <safety_controller
        soft_upper="3.14"
        soft_lower="-3.14"
        k_position="1"
        k_velocity="1" />
    </joint>
  </xacro:macro>
</robot>
