<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Centralized wheel and contact parameters for Gazebo tuning. -->
  <xacro:property name="wheel_joint_effort" value="100" />
  <xacro:property name="wheel_joint_velocity" value="20" />
  <xacro:property name="wheel_joint_damping" value="0.1" />
  <xacro:property name="wheel_joint_friction" value="0.0" />
  <xacro:property name="front_wheel_collision_radius" value="0.050" />
  <xacro:property name="front_wheel_collision_length" value="0.0496" />
  <xacro:property name="back_wheel_collision_radius" value="0.090" />
  <xacro:property name="back_wheel_collision_length" value="0.184" />
  <xacro:property name="contact_kp" value="1000000" />
  <xacro:property name="contact_kd" value="100" />
  <xacro:property name="contact_max_velocity" value="0.2" />
  <xacro:property name="contact_min_depth" value="0.001" />
</robot>
