<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="电气夹层">
  <link
    name="dianqi_ground">
    <inertial>
      <origin
        xyz="96.5228156836847 13.9236805590172 2.48454871100288"
        rpy="0 0 0" />
      <mass
        value="9735945.35298742" />
      <inertia
        ixx="1044711392.19597"
        ixy="23967694.0030195"
        ixz="34695.1888702856"
        iyy="29334247838.0759"
        iyz="-41126.1250121636"
        izz="30338612402.0874" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://电气夹层/meshes/dianqi_ground.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://电气夹层/meshes/dianqi_ground.STL" />
      </geometry>
    </collision>
  </link>
</robot>