<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="xczs_inspection_robot">
  <!-- Shared definitions. -->
  <xacro:include filename="components/properties.xacro" />
  <xacro:include filename="components/materials.xacro" />

  <!-- Robot components. -->
  <xacro:include filename="components/mobile_base.xacro" />
  <xacro:include filename="components/manipulator.xacro" />
  <xacro:include filename="components/gripper.xacro" />
  <xacro:include filename="components/gazebo_plugins.xacro" />

  <!-- Keep component order aligned with the original exported model. -->
  <xacro:xczs_base_body />
  <xacro:xczs_manipulator />
  <xacro:xczs_gripper />
  <xacro:xczs_wheels />
  <xacro:xczs_gazebo />
</robot>
