<?xml version="1.0"?>
<!-- Model geometry originated from a SolidWorks URDF export and was
     subsequently modularized for ROS 2 and Gazebo. -->
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="xczs_inspection_robot">
  <!-- Shared definitions. -->
  <xacro:include filename="components/properties.xacro" />
  <xacro:include filename="components/materials.xacro" />

  <!-- Robot components. -->
  <xacro:include filename="components/mobile_base.xacro" />
  <xacro:include filename="components/manipulator.xacro" />
  <xacro:include filename="components/gripper.xacro" />
  <xacro:include filename="components/sensors.xacro" />
  <xacro:include filename="components/ros2_control.xacro" />
  <xacro:include filename="components/gazebo_plugins.xacro" />

  <!-- Keep component order aligned with the original exported model. -->
  <xacro:xczs_base_body />
  <xacro:xczs_manipulator />
  <xacro:xczs_gripper />
  <xacro:xczs_sensors />
  <xacro:xczs_wheels />
  <xacro:xczs_ros2_control />
  <xacro:xczs_gazebo />
</robot>
