<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="三个电缸">
  <link
    name="endbody3">
    <inertial>
      <origin
        xyz="-2.749E-05 -0.047586 -0.15922"
        rpy="0 0 0" />
      <mass
        value="1.8714" />
      <inertia
        ixx="0.0031433"
        ixy="-4.2863E-06"
        ixz="1.1463E-07"
        iyy="0.0028455"
        iyz="-2.1303E-06"
        izz="0.0012283" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://三个电缸/meshes/endbody3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://三个电缸/meshes/endbody3.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="endllink1">
    <inertial>
      <origin
        xyz="-0.0005181 2.0477E-10 0.0022188"
        rpy="0 0 0" />
      <mass
        value="0.11476" />
      <inertia
        ixx="7.3931E-05"
        ixy="-1.1531E-10"
        ixz="-8.0168E-07"
        iyy="7.3625E-05"
        iyz="1.171E-12"
        izz="1.3185E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://三个电缸/meshes/endllink1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://三个电缸/meshes/endllink1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="endbody3_endllink1"
    type="prismatic">
    <origin
      xyz="0.034 -0.061735 -0.2985"
      rpy="0 0 0" />
    <parent
      link="endbody3" />
    <child
      link="endllink1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.12"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper="3.14"
      soft_lower="-3.14"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="endllink2">
    <inertial>
      <origin
        xyz="-0.0073918 0.044164 -0.031571"
        rpy="0 0 0" />
      <mass
        value="0.045641" />
      <inertia
        ixx="3.8647E-05"
        ixy="6.6552E-06"
        ixz="1.0732E-06"
        iyy="1.4357E-05"
        iyz="-1.1067E-06"
        izz="3.4869E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://三个电缸/meshes/endllink2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://三个电缸/meshes/endllink2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="endbody3_endllink2"
    type="prismatic">
    <origin
      xyz="-0.034 -0.061735 -0.2935"
      rpy="0 0 0" />
    <parent
      link="endbody3" />
    <child
      link="endllink2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.12"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper="3.14"
      soft_lower="-3.14"
      k_position="1"
      k_velocity="1" />
  </joint>
  <link
    name="endllink3">
    <inertial>
      <origin
        xyz="-2.3655E-07 0.00029683 -0.0041007"
        rpy="0 0 0" />
      <mass
        value="0.001962" />
      <inertia
        ixx="5.992E-08"
        ixy="7.7782E-13"
        ixz="1.417E-13"
        iyy="5.4141E-08"
        iyz="3.0527E-10"
        izz="4.3864E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://三个电缸/meshes/endllink3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://三个电缸/meshes/endllink3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="endllink2_endllink3"
    type="prismatic">
    <origin
      xyz="-0.012 0.082 -0.05245"
      rpy="0 0 0" />
    <parent
      link="endllink2" />
    <child
      link="endllink3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.0254"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.1"
      friction="1" />
    <safety_controller
      soft_upper="3.14"
      soft_lower="-3.14"
      k_position="1"
      k_velocity="1" />
  </joint>
</robot>